PORT=3000
MONGODB_URL=mongodb://localhost/nature_trips
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

DEPLOYED_SERVER_URL=https://your-real-deployed-backend-url
EMAIL_API_URL=https://api.brevo.com/v3/smtp/email
EMAIL_API_KEY=your_brevo_api_key
EMAIL_FROM=no-reply@your-domain.com
EMAIL_CHANGE_SECRET=your_email_change_secret

BACKEND_URL=http://localhost:3000
